{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

Unicorn sightings have been rare on Wall Street even as their population has swelled in Silicon Valley.

Private tech companies with valuations of at least $1bn have grown from 14 at the start of 2012 to 147 now. Including the new breed of tech disrupters such as car-hailing app Uber, as well as Airbnb and Snapchat, the herd’s total valuation now tops $550bn, according to new data from Triton Research.

{% endmarkdown %}

{% include "includes/charts/chart1.html" %}

{% markdown %}

“Promising growth companies that don’t go public attract capital from private sources in larger amounts and at growing valuations, making an eventual IPO or trade sale more challenging, and necessitating additional private capital – in larger amounts and at growing valuations,” said Rett Wallace, co-founder at Triton.

The explosive growth comes as mutual funds like Fidelity and T Rowe Price, which traditionally buy into public deals, have joined venture capitalists and other investors in the early stage funding of startups in the hope of high returns.

Has this growth in private valuations been mirrored in those tech companies that have gone public?

{% endmarkdown %}

{% include "includes/charts/draw-ipo-interactive.html" %}

{% markdown %}

In aggregate, for tech startups that listed from 2013 to 2015 valuations have shrunk by more than a third from the IPO and about half from the first trade or coveted first day “pop,” Triton found.

By contrast, soaring valuations in private fundraisings, and companies staying private longer than they have in the past, is sharpening concern about the potential returns these unicorns might offer to pre and post-IPO investors if they do go public. Some funds have already been writing down the value of their private deals.

“Even though the indexed average is painful, what the data show is a huge dispersion of tech IPO outcomes – some are down by 90 per cent, some are up a double or more,” Mr Wallace said. “For investors at every stage, before and after the IPO, having an ability to choose the good ones from the bad in a more rigorous way appears from the math to be critical.”

{% endmarkdown %}

{% include "includes/charts/explore-data.html" %}

{% markdown %}

<p>The divergence in fortunes of the public and private financing markets in the technology sector is self-reinforcing.</p>

With companies finding juicier sources of funding privately and investors losing money in some high-profile IPOs, public issuance has dried up. But the slowdown in public issuance is coming just as valuations in the private market are starting to ease.

“Private market valuations have come down dramatically in the past year leaving many companies facing the reality of an IPO below prior private round valuations,” said Matthew Walsh,  a tech banker at Bank of America Merrill Lynch.

Unicorns have other options besides an IPO. Some will also be sold to other companies - though high valuations don’t help here either - or develop enough to stand alone. And some will die.

A unicorn listing this week is being widely watched for clues as to whether the US IPO market is improving. Twilio, which enables voice and text functions in apps for customers including Uber and WhatsApp, is expected to start trading on Thursday.

{% endmarkdown %}

{% include "includes/charts/issuance.html" %}

{% markdown %}

It will be the first Silicon Valley unicorn to list since Square , the payments company led by Jack Dorsey, priced below its private valuation last fall. Pure Storage, another unicorn that listed last year, <a href="http://www.ft.com/cms/s/0/1f0ca7dc-e632-11e5-bc31-138df2ae9ee6.html#axzz4C7bZvjql">is down about 40 percent.</a>

“The reception of [Twilio’s] offering will send a message to other tech unicorns that have been called out for sky-high valuations,” said Matthew Kennedy, an analyst at Renaissance Capital.

{% endmarkdown %}
{% endblock %}
