<div class="o-grid-container o-grid-container--bleed" id="ipo-explore-data">
    <div class="o-grid-row o-grid-row--compact">
        <div data-o-grid-colspan="12">
          <h2 class="o-typography-heading2">Explore the data</h2>
          <h3 class="o-typography-heading3"><p>IPO exits don't always go as planned. Some companies — like Weibo (up 57.9 per cent) and 58.com (up 206.5 per cent) have soared; but others like Rocket Fuel (down 91.5 per cent) and Twitter (down 42.2 per cent) have lost significant value after going public.</p><p>Hover over or tap the lines to explore the market value of 52 tech companies that went public between 2013 and 2015.</p></h3>
          <div id="explore-data-container">
            <div id="explore-data"></div>
            <div id="explore-data-box">
              <div class="explore-category">
                <div class="explore-label" id="explore-name-label">Company</div>
                <div class="explore-value" id="explore-name-value"></div>
              </div>
<!--               <div class="explore-category">
                <div class="explore-label" id="explore-ftv-label">First trade</div>
                <div class="explore-value" id="explore-ftv-value"></div>
              </div>
              <div class="explore-category">
                <div class="explore-label" id="explore-peak-label">Peak value</div>
                <div class="explore-value" id="explore-peak-value"></div>
              </div>
              <div class="explore-category">
                <div class="explore-label" id="explore-current-label">Current value</div>
                <div class="explore-value" id="explore-current-value"></div>
              </div> -->
            </div>
          </div>
		      <div class="sourceline">Note: Values are rebased from IPO price to $100. <br />Source: Triton Research</div>
        </div>
    </div>
</div>
