#issuance-chart,
#num-cap-unicorns {
    margin: 0 0 0 1em;
    display: inline-block;
    float: right;
    width: 300px;

    #numberCap {
        height: 200px;
    }

    h2 {
        margin-top: -2px;
        margin-bottom: 0;
        font-weight: 400;
    }

    path {
        stroke-width: 1px;
        stroke: #c3bcb0;
        fill: none;
    }

    .yAxis.yAxisCap text {
        text-anchor: end !important;
    }

    .yAxis path {
        stroke: none;
    }

    .axisLabel {
        font-size: 14px;
    }

    text {
        fill: #6b6e68;
        font-size: 14px;
        pointer-events: none;
        user-select: none;
    }

    .yAxis .tick line {
        opacity: 1;
        stroke: #C3BCB0;
        stroke-dasharray: 1,2;
    }

    .xAxis .tick line {
        opacity: 1;
        stroke: #C3BCB0;
    }

}

@media (max-width: 490px) {
    #issuance-chart,
    #num-cap-unicorns {
        display: block;
        float: none;
        width: auto;
        margin: 1.5em 0 0;
    }
}
